
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Film Kiralama </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#4f4f4f !important;">
        <!-- Brand Logo -->
        <a href="~/AdminLTE-3.1.0/index3.html" class="brand-link">
            <div class="brand-text fs-3 text"><img src="~/AdminLTE-3.1.0/clapperboard (1).png" width="25" height="25" class="m-2"/><b>F İ L M</b> KİRALAMA</div>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                <div class="info">
                    <a href="#" class="d-block text-white">
                        @{ 
                            string adSoyad = "Bilinmeyen Kullanıcı";
                            if (Session["MusteriAdSoyad"] != null)
                            {
                                adSoyad = Session["MusteriAdSoyad"].ToString();
                            }
                        }
                        @adSoyad
                    </a>
                </div>
            </div>


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-header">Menü </li>
                    <li class="nav-item">
                        <a href="/Kategori/Index/" class="nav-link text-white">
                            <i class="nav-icon fas fa-th-large"></i>
                            <p>
                                Kategoriler
                            </p>
                        </a>
                    </li>



                    <li class="nav-item">
                        <a href="/Film/Index/" class="nav-link text-white">
                            <i class="nav-icon fas fa-film "></i>
                            <p>
                                Filmler
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/Musteri/Index/" class="nav-link text-white">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Musteriler
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/Sepet/Index/" class="nav-link text-white">
                            <i class="nav-icon fas fa-shopping-basket"></i>
                            <p>
                                Sepet
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/Login/CikisYap/" class="nav-link text-white">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>
                                Çıkış Yap
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content-header">
            @RenderBody()
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.1.0/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.1.0/dist/js/demo.js"></script>
</body>
</html>



